*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "segoe UI",sans-serif;
}
header{
    position: sticky;
    top: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,#153057,#0c3956,#184967, #457b9d);
    padding: 15px 60px;
    z-index: 1000;
}

header img{
    height: 4rem;
    width: 4rem;
    border-radius: 70%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a{
    color:#f1faee;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

.nav a:hover{
    color: #ffd166;
}

.btn{
    background:#ffd166;
    padding: 8px 16px;
    border-radius: 20px;
    color: #1d3557 !important;
    font-weight: 600;
}

/* Responsive */
@media (max-width: 780px){
    .header{
        padding: 15px 25px;
    }
    .navbar a{
        margin-left: 15px;
        font-size: 14px;
    }
}